.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (min-width: 768px) {
  .user-info {
    gap: 10px;
    
  }

}

.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}
.user-avatar-public{
  background-color: #272222;
}
.user-avatar-self{
  background-color: var(--primary-color);
}

@media (min-width: 768px) {
  .user-avatar {
    width: 50px;
    height: 50px;
    font-size: 18px;
  }
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 14px;
  color: var(--text-color);
}

@media (min-width: 768px) {
  .user-name {
    font-size: 16px;
  }
}

/* For use in chat window header */
.chat-window-header .user-info {
  flex: 1;
}

/* For use in rooms list */
.room-item .user-info {
  width: 100%;
}
